@font-face {
  font-weight: 400;
  font-family: Acrom;
  src: url("@/shared/assets/fonts/Acrom-Regular.ttf") format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Acrom;
  src: url("@/shared/assets/fonts/Acrom-Medium.ttf") format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: Acrom;
  src: url("@/shared/assets/fonts/Acrom-Bold.ttf") format('truetype');
}

@font-face {
  font-weight: 800;
  font-family: Acrom;
  src: url("@/shared/assets/fonts/Acrom-ExtraBold.ttf") format('truetype');
}
